# Environment
.env
*.env
!.env.example

# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/
dist/
build/

# Editors
.vscode/
.idea/

# OS
.DS_Store


# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzIiwicm9sZSI6ImFkbWluIiwiZXhwIjoxNzgzNzE0MjY4fQ.STa9475033DfHerrffbFMUiLMz7ClgpJCW1DWpVr-io